{% extends 'flatpages/default.html' %}

{% load _filters %}

{% block title %}
Search
{% endblock title %}

{% block content %}

    <hr>
     <form method="GET">
            {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
            <input type="submit" value="Найти">
        </form>

        <table>
            <thead>
                <th>
                    Автор публикации
                </th>
                <th>
                    Заголовок публикации
                </th>
                <th>
                    Дата публикации
                </th>
            </thead>
            {% for post in filter.qs %} <!-- поменяем products на filter.qs, т.к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
                <tr>
                    <td>
                        <a href="{% url 'details' post.id %}">{{ post.post_heading|title }}</a>
                        <a href="{% url 'edit' post.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
                        <a href="{% url 'delete' post.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
                    </td>
                    <td>
                        {{ post.author_post|title }}
                    </td>
                    <td>
                        {{ post.post_heading|censor }}
                    </td>
                    <td>
                        {{ post.post_create_date|date:'d M Y'}}
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock content %}